<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629906139072-fims3t8rn4ev56kun3jtphnp0j7u0uav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629906139072-fims3t8rn4ev56kun3jtphnp0j7u0uav</string>
	<key>API_KEY</key>
	<string>AIzaSyA461bYoTpoAM5jbaNuT8tZkzJ-RN3LqFM</string>
	<key>GCM_SENDER_ID</key>
	<string>629906139072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.litech.tap-furebaseversion</string>
	<key>PROJECT_ID</key>
	<string>tapfureabseversion</string>
	<key>STORAGE_BUCKET</key>
	<string>tapfureabseversion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629906139072:ios:c5a4253fb2eb6878c60a25</string>
</dict>
</plist>